@model ninja.Models.InvoiceVM

@{
    ViewBag.Title = "New invoice";
}

<h2>New invoice</h2>


@using (Ajax.BeginForm("New","Invoice", new AjaxOptions() { InsertionMode = InsertionMode.Replace}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(model => model.InvoiceType, (SelectList)ViewBag.ListOfInvoiceType, "Seleccionar opción", new { @class = "form-control" })*@
                @Html.DropDownList("InvoiceType",
                       EnumHelper.GetSelectList(typeof(ninja.model.Entity.Invoice.Types)),
                       new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InvoiceType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InvoiceTotalPriceWithTaxes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
